<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h3> Create Book</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/books}" th:object="${book}" method="post">
                    <div class="row">

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Name</label> <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="description" class="col-form-label">Description</label> <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description"> <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                        </div>

                        <div  class="form-group col-md-8">
                            <label  class="col-form-label" >
                                <select class="browser-default custom-select custom-select-lg mb-3" th:field="*{author}">
                                    <option value=""> -- </option>
                                    <option th:each="author : ${authors}"
                                            th:value="${author}"
                                            th:utext="${author.name}"></option>
                                </select>
                            </label>
                        </div>

                        <div  class="form-group col-md-8">
                            <label  class="col-form-label" >
                                <select class="browser-default custom-select custom-select-lg mb-3" th:field="${publisherHome}" >
                                    <option value=""> -- </option>
                                    <option th:each="publisherHome : ${publisherHomes}"
                                            th:value="${publisherHome.id}"
                                            th:utext="${publisherHome.name}"></option>
                                </select>
                            </label>
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value="Create Book">
                        </div>

                        <div class="form-group col-md-8"></div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>




// Mert 10 dakika ara verelim . cay iceyim tekrar devqmaama    tamam kankı sınırım bozuldu benımde neden
 kankı bu kadar şey ogrendım dedım şu yazdıklarım ıcın şimdi burası o kadar karışık gelıyo kı bana bu html ler bakar
ken moralım bozuldu senı de ugrastırıyom sana da ayrı mahcubum zaten


kanki sikinti dehil canni sikma . zamanla duzelir daha iyi anlasin.
vacllun valla ılk defa bugun dedım kı acaba yapamıycammmı ben bu ısı ılk defa dedım yanı backEnd okey ama cok odaklanmısım ona ben bu frontEnd bu kadar zor bılmıyodum


simdi soyle ki knaki. ben cay iceceghim. sunu dusunmeni istiyorium.
ilk gun ile simdi ki bilgileri bilgi karsilastir ne kadar yol kattetihini daha iyi anlayacaksin ne demek istefigimi
 ok
tamam kankı sen cayını ıc gel beklıyorum ben ılk gunler bı bok ogrenmemısım herşeyı kendım burayı yazarken ogrendım bunu daha ıyı anladım
ben zaten frontEnd e de ayrı ınat ettım bununda içinden geçecem daha sonra şu staja kabul etsın 4 ay sonra oraya gıttıgımde dıyecem kı
ben buraya calısmaya geldım ıyı takıp et benı dıyecemn ok
